<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>I am in the component! </h2>
      <hr>
      <app-servers></app-servers>
      <hr>
      <app-warning-alert></app-warning-alert>
      <app-success-alert></app-success-alert>
    </div>
  </div>
</div>
<hr>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <label>UserName:</label>
      <input type="text"
      class="form-control" [(ngModel)]="username">
      <p>{{username}}</p>
      <button class="btn btn-primary"
      [disabled]="username === ''"
      (click)="username = ''">Reset User</button>
     <app-warning-alert></app-warning-alert>
      <app-success-alert></app-success-alert>

    </div>
  </div>
</div>
<hr>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-primary" (click)="onToggleDetails()">Display Details</button>
      <p *ngIf="showSecret">Secret Password = tuna</p>
      <div
        *ngFor="let logItem of log; let i = index"
        [ngStyle]="{backgroundColor: i >= 4 ? 'blue' : 'transparent'}"
        [ngClass]="{'white-text': i >= 4}"
      >{{ logItem }}</div>
    </div>
  </div>
</div>
